{{ $experience := .Site.Data.experience }}

<section id="experience" class="green">
  <h2 class="heading">{{ $experience.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
        <span class="date">{{ $element.timeperiod }}</span>
        <h6 class="h3 my-2">{{ $element.company }}</h6>
        {{ $website := $element.website }}
        {{ if $website }}
        <a target="_blank" href="{{ $website }}">
          <i class="fas fa-link"></i>
          {{ $website }}
        </a>
        {{ end }}
        <p class="">{{ $element.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
  <br>
  <h2 class="heading">3D Projects</h2>
  <div class="row">
    <div class="col-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EK1gGAq_gQo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
  <!--
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{.Site.BaseURL}}images/final2.mp4"></iframe>
  </div>
  -->
</section>